<div class="grid">
    <div class="col-12 flex justify-content-center">
        <div class="flex flex-column align-items-center">
            <span>Próxima actualización en:</span>
            <h1 class="mt-0">{{countdownMessage}}</h1>
        </div>
    </div>
    <div class="card col-12 px-6 py-6 ">
        <p-toolbar styleClass="mt-4">
            <ng-template pTemplate="left">
                <div class="my-2 flex gap-4 align-items-center">
                    <h1 class="mb-0 mr-2">Crea Tu Playera status updated</h1>
                    <!-- <span class="refresh-buttom" pTooltip="Refresh" tooltipPosition="top" (click)="getCTPOrders()"><i class="pi pi-refresh" [class.rotate]="isRotated" style="font-size: 2rem"></i></span> -->
                </div>
            </ng-template>

            <ng-template pTemplate="right">
            </ng-template>
        </p-toolbar>
        <div class="mt-2">
            <div>
                <p-table [value]="ctpOrders" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Site order ID</th>
                            <th>Order ID</th>
                            <th>CTP ID</th>
                            <th>Site name</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Status name</th>
                            <th>Carrier</th>
                            <th>Tracking URL</th>
                            <th>Tracking number</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order>
                        <tr [ngClass]="{'bg-green-300': order.updated}">
                            <td>{{order.site_order_id}}</td>
                            <td>{{order.order_id}}</td>
                            <td>{{order.id_ctp}}</td>
                            <td>{{order.site_name}}</td>
                            <td>{{order.date}}</td>
                            <td>{{order.status}}</td>
                            <td>{{order.status_name}}</td>
                            <td>{{order.carrier}}</td>
                            <td>{{order.tracking_url}}</td>
                            <td>{{order.tracking_number}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <!----------------------------------- The Printbar Table ---------------------------------------->
    <div class="card col-12 px-6 py-6 ">
        <p-toolbar styleClass="mt-4">
            <ng-template pTemplate="left">
                <div class="my-2 flex gap-4 align-items-center">
                    <h1 class="mb-0 mr-2">The Printbar status updated</h1>
                </div>
            </ng-template>

            <ng-template pTemplate="right">
            </ng-template>
        </p-toolbar>
        <div class="mt-2">
            <div>
                <p-table [value]="tpbOrders" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Site order ID</th>
                            <th>Order ID</th>
                            <th>TPB ID</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Signal</th>
                            <th>Carrier</th>
                            <th>Tracking URL</th>
                            <th>Tracking number</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order>
                        <tr [ngClass]="{'bg-green-300': order.updated}">
                            <td>{{order.order_number}}</td>
                            <td>{{order.order_id}}</td>
                            <td>{{order.reference_id}}</td>
                            <td>{{order.date}}</td>
                            <td>{{order.tpb_status}}</td>
                            <td>{{order.tpb_signal}}</td>
                            <td>{{order.carrier}}</td>
                            <td>{{order.tracking_url}}</td>
                            <td>{{order.tracking_number}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <!----------------------------------- SwiftPOD Table --------------------------------------------->
    <p-toast position="bottom-right" key="br" />
    <div class="card col-12 px-6 py-6 ">
        <p-toolbar styleClass="mt-4">
            <ng-template pTemplate="left">
                <div class="my-2 flex gap-4 align-items-center">
                    <h1 class="mb-0 mr-2">SwiftPOD status updated</h1>
                </div>
                
            </ng-template>

            <ng-template pTemplate="right">
                <div class="flex gap-5 justify-content-between">
                    <span *ngFor="let store of ordersByStore"><h4>{{store.site_name}}: {{store.count}}</h4></span>
                    <!-- <span><h4>Amazon: </h4></span>
                    <span><h4>eBay: </h4></span>
                    <span><h4>Etsy: </h4></span> -->
                </div>
            </ng-template>
        </p-toolbar>
        <div class="mt-2">
            <div>
                <p-table [value]="swiftpodOrders" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Site order ID</th>
                            <th>Order ID</th>
                            <th>Swift ID</th>
                            <th>Site name</th>
                            <th>Date status</th>
                            <th>Status</th>
                            <th>Carrier</th>
                            <th>Tracking number</th>
                            <th>Tracking URL</th>
                            <th>Date Shipment</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order>
                        <tr [ngClass]="{'bg-green-300': order.updated}">
                            <td>{{order.site_order_id}}</td>
                            <td>{{order.order_id}}</td>
                            <td>{{order.swift_id}}</td>
                            <td>{{order.site_name}}</td>
                            <td>{{order.date_status}}</td>
                            <td>{{order.status}}</td>
                            <td>{{order.carrier}}</td>
                            <td>{{order.tracking_code}}</td>
                            <td>{{order.tracking_url}}</td>
                            <td>{{order.date_shipment}}</td>
                            
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <button pButton pRipple class="p-button-primary mb-3"
    [disabled] = "ordersWithoutUpdate.length == 0"
    (click)="processOrdersWithoutUpdate()">
    <ng-container *ngIf="!processing; else loading">
        Orders without update
    </ng-container>
    <ng-template #loading>
        <i class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
    </ng-template>
    </button>
</div>