<p-toast position="bottom-center" key="bc"></p-toast>
<p-toolbar styleClass="p-6 mb-4">
    <ng-template pTemplate="left">
        <div class="flex gap-4 align-items-baseline">
            <h1 class="mb-0 mr-2">Listing Generator</h1>
            <i class="pi pi-cog" [ngClass]="{ 'pi-spin': isHovering }" (mouseenter)="onMouseEnter()"
                (mouseleave)="onMouseLeave()" (click)="showDialog('top')" style="font-size: 2rem"></i>
        </div>
    </ng-template>
    <ng-template pTemplate="right">
        <div class="flex gap-2">
            <p-button icon="pi pi-bars" (click)="openList()"></p-button>
            <div class="button-export">
                <p-button icon="pi pi-file-excel" label="Generate" (click)="processPTO()"></p-button>
            </div>
        </div>
    </ng-template>
</p-toolbar>
<p-messages *ngIf="activeMessage" severity="error" [closable]="true">
    <ng-template pTemplate>
        <div class="flex flex-column gap-2">
            <span class="ml-2" *ngFor="let error of issues">{{error}}</span>
        </div>
    </ng-template>
</p-messages>
<div class="flex gap-4 mb-4 px-6 align-items-start justify-content-between">
    <div class="flex gap-4 align-items-baseline">
        <span class="font-semibold text-xl">
            Configuration parameters set:
        </span>
        <div>
            <p><strong>Marketplaces:</strong> {{ selectedMarketplace.join(', ') }}</p>
            <p><strong>Automatic AI:</strong> {{ aiActivation ? "Activated": "Deactivated"}}</p>
        </div>
    </div>
    <div class="loadingSignal flex flex-column gap-2" *ngIf="false">
        <span class="font-semibold text-xl">
            Charging PTO:
        </span>
        <p-progressBar [value]="value"></p-progressBar>
    </div>
</div>
<div class="card px-6 py-6">
    <p-table *ngIf="!selectedPTO" [value]="ptoDesigns" [(selection)]="selectedptoDesigns"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div class="flex gap-8">
                    <p>PTO {{selectedPTO?.pto}} / {{selectedPTO?.theme}}</p>
                    <p>DESIGNS: {{selectedPTO?.designs}}</p>
                    <p>MOCKUPS</p>
                </div>
                <div>

                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="2" style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th rowspan="2">Image</th>
                <th rowspan="2">Title</th>
                <th rowspan="2">Classification</th>
                <th rowspan="2">Style Code</th>
                <th rowspan="2">Colors</th>
                <th rowspan="2">Keywords</th>
                <th rowspan="2">Descriptions</th>
                <th colspan="5" class="text-center">Categories</th>
            </tr>
            <tr>
                <th>Ebay</th>
                <th>Walmart</th>
                <th>Amazon</th>
                <th>Etsy</th>
                <th>Pipeline</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td class="flex flex-column gap-1">
                    <p-skeleton size="4rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton height=".5rem" width="3rem"></p-skeleton>
                </td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
            </tr>
        </ng-template>
    </p-table>
    <p-table *ngIf="selectedPTO" [value]="ptoDesigns" [(selection)]="selectedptoDesigns"
        styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }" scrollHeight="100vh"
        [scrollable]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div class="flex gap-8">
                    <p>PTO {{selectedPTO?.pto}} / {{selectedPTO?.theme}}</p>
                    <p>DESIGNS: {{selectedPTO?.designs}}</p>
                    <p class="cursor-pointer" (click)="openMockupsList()">MOCKUPS: {{mockups.length}}</p>
                </div>
                <div>

                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="2" style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th rowspan="2">Image</th>
                <th rowspan="2">Title</th>
                <th rowspan="2">Theme</th>
                <th rowspan="2">Classification</th>
                <th rowspan="2" style="width: 100px">Style Code</th>
                <th rowspan="2">Colors</th>
                <th rowspan="2">
                    <div class="flex justify-content-between align-items-center">
                        <span>Keywords</span>
                        <span *ngIf="linkSelector('keywords')" (click)="switchLinks('keywords')"
                            class="cursor-pointer hugeicons--link-04"></span>
                        <span *ngIf="!linkSelector('keywords')" (click)="switchLinks('keywords')"
                            class="cursor-pointer hugeicons--unlink-04"></span>
                    </div>
                </th>
                <th rowspan="2">
                    <div class="flex justify-content-between align-items-center">
                        <span>Descriptions</span>
                        <span *ngIf="linkSelector('description')" (click)="switchLinks('description')"
                            class="cursor-pointer hugeicons--link-04"></span>
                        <span *ngIf="!linkSelector('description')" (click)="switchLinks('description')"
                            class="cursor-pointer hugeicons--unlink-04"></span>
                    </div>
                </th>
                <th rowspan="2">
                    <div class="flex justify-content-between align-items-center">
                        <span>Feature 1</span>
                        <span *ngIf="linkSelector('feature1')" (click)="switchLinks('feature1')"
                            class="cursor-pointer hugeicons--link-04"></span>
                        <span *ngIf="!linkSelector('feature1')" (click)="switchLinks('feature1')"
                            class="cursor-pointer hugeicons--unlink-04"></span>
                    </div>
                </th>
                <th rowspan="2">
                    <div class="flex justify-content-between align-items-center">
                        <span>Feature 2</span>
                        <span *ngIf="linkSelector('feature2')" (click)="switchLinks('feature2')"
                            class="cursor-pointer hugeicons--link-04"></span>
                        <span *ngIf="!linkSelector('feature2')" (click)="switchLinks('feature2')"
                            class="cursor-pointer hugeicons--unlink-04"></span>
                    </div>
                </th>
                <th rowspan="2">
                    <div class="flex justify-content-between align-items-center">
                        <span>Feature 3</span>
                        <span *ngIf="linkSelector('feature3')" (click)="switchLinks('feature3')"
                            class="cursor-pointer hugeicons--link-04"></span>
                        <span *ngIf="!linkSelector('feature3')" (click)="switchLinks('feature3')"
                            class="cursor-pointer hugeicons--unlink-04"></span>
                    </div>
                </th>
                <th rowspan="2" style="width: 200px" *ngIf="selectedMarketplace.includes('Amazon')">Amazon Department Name</th>
                <th [attr.colspan]="selectedMarketplace?.length || 2" class="text-center">Categories</th>
            </tr>
            <tr>
                <th *ngFor="let market of selectedMarketplace">
                    <div class="flex justify-content-between align-items-center">
                        <span>{{market}}</span>
                        <span *ngIf="linkSelector(market)" (click)="switchLinks(market)"
                            class="cursor-pointer hugeicons--link-04"></span>
                        <span *ngIf="!linkSelector(market)" (click)="switchLinks(market)"
                            class="cursor-pointer hugeicons--unlink-04"></span>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-design let-editing="editing" let-rowIndex="rowIndex">
            <tr>
                <td>
                    <p-tableCheckbox [value]="design"></p-tableCheckbox>
                </td>
                <td class="bg-gray-100 p-1">
                    <div class="flex flex-column align-items-center gap-1">
                        <img [src]="'http://localhost:3005/images/' + design.path" width="150px" height="150px" alt="">
                        <span><strong>{{design.design}}</strong></span>
                    </div>
                </td>
                <td class="w-150"
                    [ngClass]="{ 'bg-red-300': design.title == '' || !uniqueTitle(design.title, design.design) , 'bg-green-300': uniqueTitle(design.title, design.design)}"
                    [pEditableColumn]="design.title" pEditableColumnField="title">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="3" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="design.title"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ design.title }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td class="w-150" [ngClass]="{ 'bg-red-300': theme == '' }" [pEditableColumn]="theme"
                    pEditableColumnField="theme">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="3" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="theme"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ theme }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>{{design.classification}}</td>
                <td class="w-100">{{design.styles}}</td>
                <td class="w-150">{{design.colors}}</td>
                <!-- <td class="w-250" [ngClass]="{ 'bg-red-300': design.keywords == '' }">{{design.keywords}}</td> -->
                <td *ngIf="!linkKeywords" class="w-250" [ngClass]="{ 'bg-red-300': design.keywords == '' }"
                    [pEditableColumn]="design.keywords" pEditableColumnField="keywords">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="5" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="design.keywords"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{design.keywords}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td *ngIf="linkKeywords" class="w-250" [ngClass]="{ 'bg-red-300': generalKeywords == '' }"
                    [pEditableColumn]="generalKeywords" pEditableColumnField="description">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="5" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="generalKeywords"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{generalKeywords}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td *ngIf="!linkDescription" class="w-250" [ngClass]="{ 'bg-red-300': design.description == '' }"
                    [pEditableColumn]="design.description" pEditableColumnField="description">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="5" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="design.description"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{design.description}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td *ngIf="linkDescription" class="w-250" [ngClass]="{ 'bg-red-300': generalDescription == '' }"
                    [pEditableColumn]="generalDescription" pEditableColumnField="description">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="5" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="generalDescription"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{generalDescription}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <!-- Feature section -->
                <td *ngIf="!linkFeature1" class="w-250" [ngClass]="{ 'bg-red-300': design.feature1 == '' }"
                    [pEditableColumn]="design.feature1" pEditableColumnField="feature1">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="5" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="design.feature1"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{design.feature1}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td *ngIf="linkFeature1" class="w-250" [ngClass]="{ 'bg-red-300': generalFeature1 == '' }"
                    [pEditableColumn]="generalFeature1" pEditableColumnField="description">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="5" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="generalFeature1"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{generalFeature1}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td *ngIf="!linkFeature2" class="w-250" [ngClass]="{ 'bg-red-300': design.feature2 == '' }"
                    [pEditableColumn]="design.feature2" pEditableColumnField="feature2">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="5" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="design.feature2"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{design.feature2}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td *ngIf="linkFeature2" class="w-250" [ngClass]="{ 'bg-red-300': generalFeature2 == '' }"
                    [pEditableColumn]="generalFeature2" pEditableColumnField="description">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="5" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="generalFeature2"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{generalFeature2}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td *ngIf="!linkFeature3" class="w-250" [ngClass]="{ 'bg-red-300': design.feature3 == '' }"
                    [pEditableColumn]="design.feature3" pEditableColumnField="feature3">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="5" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="design.feature3"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{design.feature3}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td *ngIf="linkFeature3" class="w-250" [ngClass]="{ 'bg-red-300': generalFeature3 == '' }"
                    [pEditableColumn]="generalFeature3" pEditableColumnField="description">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <textarea rows="5" cols="20" pInputTextarea [autoResize]="true"
                                [(ngModel)]="generalFeature3"></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{generalFeature3}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td class="w-250" *ngIf="selectedMarketplace.includes('Amazon')" [ngClass]="{ 'bg-red-300': !generalAmazonDepart }">
                    <p-dropdown [options]="amazonDepartmentNames" [(ngModel)]="generalAmazonDepart" optionLabel="name"
                        placeholder="Select a department" />
                </td>
                <td *ngFor="let market of selectedMarketplace" [ngClass]="{
                    'bg-red-300': 
                    (designCategories[market] === undefined) || 
                    ((!linkSelector(market) && ptoDesigns[rowIndex]?.categories[market]?.length == 0) || 
                    (linkSelector(market) && designCategories[market]?.length == 0)), 
                     }">
                    <p-multiSelect *ngIf="!linkSelector(market) && market !== 'Faire'"
                        [options]="marketplacesCategories[market]?.groups" [group]="true" [maxSelectedLabels]="3"
                        [(ngModel)]="ptoDesigns[rowIndex]?.categories[market]" optionLabel="label" optionValue="path"
                        optionGroupLabel="label" optionGroupChildren="items" [style]="{ width: '200px' }"
                        scrollHeight="150px" defaultLabel="Select Categories">
                    </p-multiSelect>
                    <p-multiSelect *ngIf="linkSelector(market) && market !== 'Faire'"
                        [options]="marketplacesCategories[market]?.groups" [group]="true" [maxSelectedLabels]="3"
                        [(ngModel)]="designCategories[market]" optionLabel="label" optionValue="path"
                        optionGroupLabel="label" optionGroupChildren="items" [style]="{ width: '200px' }"
                        scrollHeight="150px" defaultLabel="Select Categories">
                    </p-multiSelect>
                    <p-dropdown *ngIf="!linkSelector(market) && market == 'Faire'"
                        [options]="marketplacesCategories[market]?.groups" [group]="true"
                        [(ngModel)]="ptoDesigns[rowIndex]?.categories[market]" optionLabel="label" optionValue="path"
                        placeholder="Select Categories" [style]="{ width: '200px' }" scrollHeight="150px">
                    </p-dropdown>
                    <p-dropdown *ngIf="linkSelector(market) && market == 'Faire'"
                        [options]="marketplacesCategories[market]?.groups" [group]="true"
                        [(ngModel)]="designCategories[market]" optionLabel="label" optionValue="path"
                        placeholder="Select Categories" [style]="{ width: '200px' }" scrollHeight="150px">
                    </p-dropdown>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="ptoDesigns.length == 0" class="py-4 flex flex-column justify-content-center align-items-center">
        <h1 class="text-center text-green-500 font-bold">PTO processed.</h1>
        <h2 class="mt-0 text-center">The PTO has been successfully processed and the corresponding templates have been
            imported.</h2>
        <h2 class="mt-0 text-center">Select a new pto to process</h2>
    </div>
</div>
<!-- Dialog Section -->
<p-dialog header="Settings" [modal]="true" [(visible)]="configurationPanel" [position]="position"
    [style]="{ width: '25rem' }">
    <div class="flex flex-column items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Marketplaces to Export</label>
        <div class="flex justify-content-start flex-wrap gap-3">
            <div class="flex align-items-center gap-1">
                <p-checkbox name="group1" value="Walmart" [(ngModel)]="tempSelectedMarketplace"
                    inputId="wa"></p-checkbox>
                <label for="wa">Walmart</label>
            </div>
            <div class="flex align-items-center gap-1">
                <p-checkbox name="group1" value="Amazon" [(ngModel)]="tempSelectedMarketplace"
                    inputId="am"></p-checkbox>
                <label for="am">Amazon</label>
            </div>
            <div class="flex align-items-center gap-1">
                <p-checkbox name="group1" value="Ebay" [(ngModel)]="tempSelectedMarketplace" inputId="eb"></p-checkbox>
                <label for="eb">Ebay</label>
            </div>
            <div class="flex align-items-center gap-1">
                <p-checkbox name="group1" value="Pipeline" [(ngModel)]="tempSelectedMarketplace"
                    inputId="pi"></p-checkbox>
                <label for="pi">Pipeline</label>
            </div>
            <div class="flex align-items-center gap-1">
                <p-checkbox name="group1" value="Shopify" [(ngModel)]="tempSelectedMarketplace"
                    inputId="sh"></p-checkbox>
                <label for="sh">Shopify</label>
            </div>
            <div class="flex align-items-center gap-1">
                <p-checkbox name="group1" value="Faire" [(ngModel)]="tempSelectedMarketplace" inputId="fa"></p-checkbox>
                <label for="fa">Faire</label>
            </div>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="mb-5">
        <span class="text-surface-500 dark:text-surface-400 block mb-3">Use AI to change Titles and Descriptions
            automatically when loading PTOs</span>
        <div class="flex align-items-center gap-2">
            <p-inputSwitch [(ngModel)]="tempAiActivation"></p-inputSwitch>
            <label class="mb-2" for="la">{{ tempAiActivation ? "Activated": "Deactivated"}}</label>
        </div>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="onCancel()" />
        <p-button label="Save" (click)="onSave()" />
    </div>
</p-dialog>

<p-dialog header="PTOs List" [closable]="true" [modal]="true" [(visible)]="ptoListPanel"
    [style]="{ width: 'auto', height: '650px' }">
    <p-table [value]="ptoList" selectionMode="single" [(selection)]="selectedPTO" dataKey="pto"
        (onRowSelect)="onRowSelect($event)" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>PTO</th>
                <th>Theme</th>
                <th>Designs</th>
                <th>Colors</th>
                <th>Designer</th>
                <th>Uploaded</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pto>
            <tr [pSelectableRow]="pto">
                <td>{{ pto.pto }}</td>
                <td>{{ pto.theme }}</td>
                <td>{{ pto.designs }}</td>
                <td>{{ pto.colors }}</td>
                <td>{{ pto.designer }}</td>
                <td>{{ pto.pto_date | date:'short' }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-dialog [header]="'Mockups List (' + (mockups.length * 3) + ')'" [closable]="true" [modal]="true"
    [(visible)]="mockupsListPanel" [style]="{ width: '50%', height: '650px' }">
    <div class="flex flex-wrap gap-2 pb-5">
        <div *ngFor="let item of mockups">
            <ng-container *ngFor="let path of item.paths">
                <img [src]="'http://localhost:3005/images/' + path" alt="Mockup Image" width="100px">
            </ng-container>
        </div>
    </div>
</p-dialog>

<p-dialog header="Processing..." [closable]="false" [modal]="true" [(visible)]="spinnerProcessingPanel"
    [style]="{ width: '350px', height: 'auto' }">
    <div class="flex align-items-center flex-column gap-3 pb-5">
        <div class="spinner">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24">
                <rect width="7.33" height="7.33" x="1" y="1" fill="#3566cf">
                    <animate id="svgSpinnersBlocksWave0" attributeName="x" begin="0;svgSpinnersBlocksWave1.end+0.2s"
                        dur="0.6s" values="1;4;1" />
                    <animate attributeName="y" begin="0;svgSpinnersBlocksWave1.end+0.2s" dur="0.6s" values="1;4;1" />
                    <animate attributeName="width" begin="0;svgSpinnersBlocksWave1.end+0.2s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                    <animate attributeName="height" begin="0;svgSpinnersBlocksWave1.end+0.2s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                </rect>
                <rect width="7.33" height="7.33" x="8.33" y="1" fill="#3566cf">
                    <animate attributeName="x" begin="svgSpinnersBlocksWave0.begin+0.1s" dur="0.6s"
                        values="8.33;11.33;8.33" />
                    <animate attributeName="y" begin="svgSpinnersBlocksWave0.begin+0.1s" dur="0.6s" values="1;4;1" />
                    <animate attributeName="width" begin="svgSpinnersBlocksWave0.begin+0.1s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                    <animate attributeName="height" begin="svgSpinnersBlocksWave0.begin+0.1s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                </rect>
                <rect width="7.33" height="7.33" x="1" y="8.33" fill="#3566cf">
                    <animate attributeName="x" begin="svgSpinnersBlocksWave0.begin+0.1s" dur="0.6s" values="1;4;1" />
                    <animate attributeName="y" begin="svgSpinnersBlocksWave0.begin+0.1s" dur="0.6s"
                        values="8.33;11.33;8.33" />
                    <animate attributeName="width" begin="svgSpinnersBlocksWave0.begin+0.1s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                    <animate attributeName="height" begin="svgSpinnersBlocksWave0.begin+0.1s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                </rect>
                <rect width="7.33" height="7.33" x="15.66" y="1" fill="#3566cf">
                    <animate attributeName="x" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s"
                        values="15.66;18.66;15.66" />
                    <animate attributeName="y" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s" values="1;4;1" />
                    <animate attributeName="width" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                    <animate attributeName="height" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                </rect>
                <rect width="7.33" height="7.33" x="8.33" y="8.33" fill="#3566cf">
                    <animate attributeName="x" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s"
                        values="8.33;11.33;8.33" />
                    <animate attributeName="y" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s"
                        values="8.33;11.33;8.33" />
                    <animate attributeName="width" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                    <animate attributeName="height" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                </rect>
                <rect width="7.33" height="7.33" x="1" y="15.66" fill="#3566cf">
                    <animate attributeName="x" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s" values="1;4;1" />
                    <animate attributeName="y" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s"
                        values="15.66;18.66;15.66" />
                    <animate attributeName="width" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                    <animate attributeName="height" begin="svgSpinnersBlocksWave0.begin+0.2s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                </rect>
                <rect width="7.33" height="7.33" x="15.66" y="8.33" fill="#3566cf">
                    <animate attributeName="x" begin="svgSpinnersBlocksWave0.begin+0.3s" dur="0.6s"
                        values="15.66;18.66;15.66" />
                    <animate attributeName="y" begin="svgSpinnersBlocksWave0.begin+0.3s" dur="0.6s"
                        values="8.33;11.33;8.33" />
                    <animate attributeName="width" begin="svgSpinnersBlocksWave0.begin+0.3s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                    <animate attributeName="height" begin="svgSpinnersBlocksWave0.begin+0.3s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                </rect>
                <rect width="7.33" height="7.33" x="8.33" y="15.66" fill="#3566cf">
                    <animate attributeName="x" begin="svgSpinnersBlocksWave0.begin+0.3s" dur="0.6s"
                        values="8.33;11.33;8.33" />
                    <animate attributeName="y" begin="svgSpinnersBlocksWave0.begin+0.3s" dur="0.6s"
                        values="15.66;18.66;15.66" />
                    <animate attributeName="width" begin="svgSpinnersBlocksWave0.begin+0.3s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                    <animate attributeName="height" begin="svgSpinnersBlocksWave0.begin+0.3s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                </rect>
                <rect width="7.33" height="7.33" x="15.66" y="15.66" fill="#3566cf">
                    <animate id="svgSpinnersBlocksWave1" attributeName="x" begin="svgSpinnersBlocksWave0.begin+0.4s"
                        dur="0.6s" values="15.66;18.66;15.66" />
                    <animate attributeName="y" begin="svgSpinnersBlocksWave0.begin+0.4s" dur="0.6s"
                        values="15.66;18.66;15.66" />
                    <animate attributeName="width" begin="svgSpinnersBlocksWave0.begin+0.4s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                    <animate attributeName="height" begin="svgSpinnersBlocksWave0.begin+0.4s" dur="0.6s"
                        values="7.33;1.33;7.33" />
                </rect>
            </svg>
        </div>
        <div class="status">
            <!-- Etapa 1 -->
            <span class="flex gap-2 align-items-center">
                <span
                    [ngClass]="{'svg-checked': step1 === 'checked', 'svg-spinners': step1 === 'spinner', 'svg-step': step1 === 'step'}"></span>
                <p>Generating url in AWS... {{currentMockupProcessing}}/{{totalMockupsToProcess}}</p>
            </span>

            <!-- Etapa 2 -->
            <span class="flex gap-2 align-items-center">
                <span
                    [ngClass]="{'svg-checked': step2 === 'checked', 'svg-spinners': step2 === 'spinner', 'svg-step': step2 === 'step'}"></span>
                <p>Saving records in the database... {{currentMockupSaving}}/{{totalMockupsToSave}}</p>
            </span>

            <!-- Etapa 3 -->
            <span class="flex gap-2 align-items-center">
                <span
                    [ngClass]="{'svg-checked': step3 === 'checked', 'svg-spinners': step3 === 'spinner', 'svg-step': step3 === 'step'}"></span>
                <p>Creating price relationships... {{currentMockupRelated}}/{{totalMockupsToRelate}}</p>
            </span>

            <!-- Etapa 4 -->
            <span class="flex gap-2 align-items-center">
                <span
                    [ngClass]="{'svg-checked': step4 === 'checked', 'svg-spinners': step4 === 'spinner', 'svg-step': step4 === 'step'}"></span>
                <p>Generating templates</p>
            </span>
        </div>

    </div>
</p-dialog>