/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
// @import "../node_modules/primeng/resources/themes/soho-dark/theme.css";
// @import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";


.mark-selector {
    min-width: 17rem;
}

.report-message {
    padding: 20px;
    width: 100;
    // height: 40px;
    border-radius: 5px;
    background: #e9e9ff;
    border: solid #696cff;
    border-width: 0 0 0 6px;
    color: #696cff;
}

.refresh-buttom {
    cursor: pointer;
    padding: 5px 8px 8px;
    border-radius: 100%;
    background: #e9e9ff00;
    transition: background ease-in-out 0.3s;


    &:hover {
        background: #e9e9ff;
    }
}

.button_cancel {
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid #6366F1;
    ;
    color: #6366F1;
    ;

    &:enabled:hover {
        background-color: #9394ee;
        ;
        border-color: #9394ee;
    }
}

.sensor {
    position: relative;
    border-radius: 100%;
    padding: 8px;
    // background-color: rgb(48, 160, 48);

    &::before {
        content: '';
        position: absolute;
        left: -7px;
        top: -7px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        // background: rgb(48, 160, 48);
        animation: ping 0.8s ease-in-out infinite both;
    }
}

.sensor.online {
    background: rgb(48, 160, 48);

    &::before {
        background: rgb(48, 160, 48);
    }
}

.sensor.offline {
    background: rgb(199, 21, 21);

    &::before {
        background: rgb(199, 21, 21);
    }
}

.aws-color{
    background-color: #FF9900;
    border: 1px solid #FF9900;
    color: #FFF;

    &:hover{
        background-color: #000000 !important;
        border: 1px solid #787878 !important;
        color: #FF9900 !important;
    }
}

.min-h-300{
    min-height: 300px;
}

.max-h-500{
    max-height: 500px;
}

.container-left{
    overflow-x: scroll;
    overflow-y: scroll;
}

.p-dropdown {
    width: 100% !important;
}

.button-export{
    .p-button{
        background: #008000 !important;
        border: 1px solid #008000;
    }
}

.btn-download{
    .p-button{
        background: #e81118 !important;
        border: 1px solid #e81118;
    }
}

.rotate {
    animation: rotate 1s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ping {
    -webkit-animation: ping 0.8s ease-in-out infinite both;
    animation: ping 0.8s ease-in-out infinite both;
}

@keyframes ping {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}